* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textorange: #ffab00;
  --backgroundorange: linear-gradient(#ffc95c, #ffab00);
  --yellow: rgba(255, 171, 0, 0.4);
  --blue: #377dff;
  --black: #141718;
  --white: #fff;
  --grey: #6c7275;
  --lightgrey: #f3f5f7;
  --border-color: #121212;
  --copyright: rgba(232, 236, 239, 1);
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.4000000059604645px;
  text-align: left;
  /* width: 100vw; */
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  font-family: Inter;
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.btn-black {
  background-color: var(--black);
  color: var(--white);
  width: 234px;
  height: 56px;
  border-radius: 8px;
  gap: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.btn-small {
  background-color: var(--black);
  color: var(--white);
  width: 230px;
  height: 46px;
  padding: 8px 24px;
  gap: 4px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
}

.margin {
  margin-bottom: 48px;
}

.bold {
  font-weight: 600;
}

footer {
  background-color: var(--black);
  color: #fefefe;
  height: 249px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 80px 160px 32px 160px;
  width: 100vw;

  @media screen and (max-width: 760px) {
    padding: 60px;
    height: fit-content;
  }
}
