/* -------- NOTIFICATION BAR --------- */
.notification-bar {
  font-family: Inter;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  line-height: 22px;
  padding: 8px;

  embed {
    position: absolute;
    top: 2px;
  }
}

.btn-orange {
  color: var(--textorange);
  cursor: pointer;
  position: relative;
  text-decoration: underline;
}

/* -------------- HEADER ------------- */
.navigation-bar {
  display: flex;
  gap: 100px;
  padding: 10px 160px;
  background: #ffc95c;
  width: 100%;

  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  ul {
    display: flex;
    gap: 40px;
  }

  li {
    position: relative;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    padding: 10px 30px;
    gap: 30px;
  }
}

.icon {
  position: absolute;
  top: 3px;
}

.header {
  background: var(--backgroundorange);
  height: 820px;
  display: flex;
  padding: 0px 100px;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 50px;
  }

  span {
    color: var(--blue);
  }

  @media screen and (max-width: 1024px) {
    display: flex;
  }

  @media screen and (max-width: 600px) {
    padding: 0;
    margin: 0;
  }
}

.header-man {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.header--text-container {
  width: 100%;
}

.header--text {
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  text-align: left;

  @media screen and (max-width: 1024px) {
    overflow: hidden;
    width: 100%;
  }

  @media screen and (max-width: 600px) {
    font-size: 50px;
    line-height: 54px;
  }
}

.header--smaller-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;

  @media screen and (max-width: 760px) {
    width: 100%;
    overflow: hidden;
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger {
  width: 25px;
  height: 3px;
  background-color: var(--white);
  margin: 4px 0;
}

@media screen and (max-width: 900px) {
  .navigation-bar .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    background-color: var(--green);
    padding: 20px;
    box-sizing: border-box;
  }

  .navigation-bar .menu.show {
    display: flex;
  }

  .burger-menu {
    display: flex;
  }
}

.brand-logos {
  display: flex;
  gap: 24px;
  padding: 20px 100px;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1024px) {
    overflow: hidden;
  }

  @media screen and (max-width: 600px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------- MAIN SECTION --------------- */
/* -------- NEW ARRIVALS ----- */
.new-arrivals {
  margin: 48px 160px;

  @media screen and (max-width: 1250px) {
    margin: 48px 80px;
  }

  @media screen and (max-width: 600px) {
    margin: 20px 30px;
  }
}

.cards {
  display: flex;
  gap: 24px;

  @media screen and (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card--item {
  position: relative;
}

.card--image {
  z-index: -1;
  max-width: 262px;
}

.card--new-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.add-to-wishlist {
  position: absolute;
  top: 16px;
  left: 214px;
}

.btn-addtocard {
  position: absolute;
  top: 287px;
  left: 16px;
}

.card--text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.price {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

/* --------- SHOP COLLECTION --------- */
.shop-collection {
  margin: 48px 160px;
  padding-top: 48px;

  @media screen and (max-width: 1250px) {
    margin: 48px 80px;
  }

  @media screen and (max-width: 600px) {
    margin: 20px 30px;
  }
}

.collection--images {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 24px;

  div:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
  }

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 600px) {
    overflow-x: hidden;
  }
}

.collection--item {
  position: relative;
  z-index: -1;
}

.collection--text {
  position: absolute;
  bottom: 48px;
  left: 48px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collection--title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
}

.collection--btn {
  border: none;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
  width: 98px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

/* --------- BEST SELLER ------- */
.best-seller {
  padding: 0px 160px 100px 160px;

  @media screen and (max-width: 1250px) {
    padding: 80px;
  }

  @media screen and (max-width: 600px) {
    padding: 30px;
  }
}

.best-sellers {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, 1fr);
  gap: 48px 24px;

  @media screen and (max-width: 1250px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* ----------- PROMOTION ------- */
.promotion {
  display: flex;

  @media screen and (max-width: 924px) {
    flex-direction: column;
    width: 100%;
  }
}

.promotion-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  background-color: var(--yellow);
  width: 100%;
  padding-left: 72px;

  @media screen and (max-width: 924px) {
    padding: 80px;
  }
}

.bluetext {
  color: var(--blue);
  text-transform: uppercase;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.maintext {
  margin-bottom: 0px;
}

.secondarytext {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.promotion-btn {
  width: 154px;
  margin-top: 8px;
}

/* --------- SERVICES -------- */
.services {
  gap: 24px;
  padding: 40px 160px;

  @media screen and (max-width: 900px) {
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.service {
  width: 263px;
  max-height: 254px;
  background-color: var(--lightgrey);
  padding: 48px 32px;

  @media screen and (max-width: 1250px) {
    height: fit-content;
  }
}

.service-text--primary {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 16px;
}

.service-text--secondary {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  color: var(--grey);
}

/* -------- JOIN OUR NEWSLETTER -------- */
.join {
  background-image: url(./images/Paste\ image.png);
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.join-text--primary {
  margin-top: 101px;
}

.join-text--secondary {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 8px;

  @media screen and (max-width: 600px) {
    font-size: 12px;
  }
}

/* --------- FOOTER ----------  */
.logo-container {
  display: flex;
  gap: 32px;
  width: 544px;
}

.logo {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 49px;

  ul {
    display: flex;
    gap: 40px;
  }

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (max-width: 600px) {
    ul {
      display: none;
    }
  }
}

.footer-text {
  border-left: 1px solid var(--grey);
  padding: 0px 32px;
}

.copyright-container {
  padding-top: 16px;
  border-top: 0.5px solid var(--grey);

  @media screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.copyright {
  display: flex;
  gap: 28px;
  font-family: Poppins;
  font-size: 12px;
  line-height: 20px;
  color: var(--copyright);

  @media screen and (max-width: 900px) {
    flex-direction: column;
    gap: 20px;
  }
}

.socialmedia {
  display: flex;
  gap: 24px;
}
