.notification-bar {
  font-family: Inter;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
  background-color: var(--black);
  color: var(--white);
  font-size: 14px;
  line-height: 22px;
  padding: 8px;

  img {
    position: absolute;
    top: 2px;
  }
}

.btn-orange {
  color: var(--textorange);
  cursor: pointer;
  position: relative;
  text-decoration: underline;
}

.navigation-bar {
  display: flex;
  gap: 100px;
  padding: 10px 160px;
  background: #ffc95c;

  p {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
  }

  ul {
    display: flex;
    gap: 40px;
  }

  li {
    position: relative;
    font-family: Space Grotesk;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
  }
}

.icon {
  position: absolute;
  top: 3px;
}

.header {
  background: var(--backgroundorange);
  height: 820px;
  display: flex;
  padding: 0px 100px;

  div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding: 50px;
  }

  span {
    color: var(--blue);
  }
}

.header--text {
  font-size: 80px;
  font-weight: 500;
  line-height: 84px;
  letter-spacing: -3px;
  text-align: left;
}

.header--smaller-text {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.brand-logos {
  display: flex;
  gap: 24px;
  padding: 20px 100px;
  align-items: center;
  justify-content: center;
}

.new-arrivals {
  margin: 48px 160px;
}

.cards {
  display: flex;
  gap: 24px;
}

.card--item {
  position: relative;
}

.card--image {
  z-index: -1;
}

.card--new-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}

.add-to-wishlist {
  position: absolute;
  top: 16px;
  left: 214px;
}

.btn-addtocard {
  position: absolute;
  top: 287px;
  left: 16px;
}

.card--text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card-description {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}

.price {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.shop-collection {
  margin: 48px 160px;
  padding-top: 48px;
}

.collection--images {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 24px;

  div:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
  }
}

.collection--item {
  position: relative;
  z-index: -1;
}

.collection--text {
  position: absolute;
  bottom: 48px;
  left: 48px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.collection--title {
  font-size: 34px;
  font-weight: 500;
  line-height: 38px;
}

.collection--btn {
  border: none;
  border-bottom: 1px solid var(--border-color);
  background-color: transparent;
  width: 98px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
